.start{
  opacity: 0;
}
.end{
  opacity: 1;
  transition: opacity 0.5s;
}


.title {margin-top:20px}

.btnNum {
  margin-right:10px;
  margin-left:10px;
}
.alert-warning {
  margin-top:20px;
}

.main-bg {
  height:300px;
  background-image:url(./img/bg.png);
  background-size: cover;
  background-position: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.me-auto {margin-left:10px;}
.me-auto a {margin-right:10px;text-decoration: none;color:#fff;}
.navbar-nav.ms-auto {color:#fff}